body{background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DhkAzQsMBWuo&psig=AOvVaw0TvsqHTsP4DgAD7PaCfOX2&ust=1571263198444000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMDU9t6hn-UCFQAAAAAdAAAAABAM);
height: 100%;}

h1{
    font-synthesis: weight;
    font-weight: bold;
    color: crimson;
    size: 75px;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    size: 50px;
}