body{background-image: cross-fade(yellow, orange); }

h1{
    font-synthesis: weight;
    font-weight: bold;
    color: crimson;
    size: 500px;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    size: 450px;
}