body{
    background-image: url("https://cdn.hipwallpaper.com/m/38/58/vDSBnc.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-synthesis: weight;
    font-weight: bold;
    color: chocolate;
    size: 75px;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    size: 50px;
}